.single-row {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	h1 {
		font-size: 16px;
		line-height: 22px;
		color: #000000;
		margin: 0;
		padding-bottom: 10px;
		border-bottom: 1px solid #000000;
	}
	.grid-container {
		margin-top: 40px;
		display: flex;
		// justify-content: space-between;
		gap: 30px;
		flex-wrap: wrap;
		align-items: stretch;
		.item {
			// background-color: rgba(0, 0, 0, 0.05);
			width: 23%;
			.img-container {
				width: 100%;
				height: 180px;
				position: relative;
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
				}
				.nation-badge {
					position: absolute;
					margin: 0;
					bottom: 10px;
					left: 10px;
					font-size: 12px;
					font-weight: 700;
					padding: 0 5px;
					background-color: red;
					color: #fff;
				}
			}
			.item-body {
				margin-top: 10px;
				a {
					text-decoration: none;
					color: black;
					h2 {
						font-size: 16px;
						line-height: 22px;
						padding-right: 5px;
						margin: 0;
					}
					&:hover {
						color: red;
						transition: 0.8s;
					}
				}
				.time-bottom {
					margin-top: 10px;
					.svg-flex {
						display: flex;
						align-items: center;
						color: grey;
						gap: 5px;
					}
				}
			}
		}
	}
}
